body {

    background-color: gray;

    color: white;

    font-size: 20;

}
    
    
    
    
    

  
    



.info a {
    color: red;
    text-decoration: none;
    font-size: 20;
    font-family: cursive;
}

a:hover {
    text-decoration: underline; 
}

.container {
    
    max-width: 750px;
    margin: auto;
    padding-top: 1px;
}

.info p {
    margin: 0;
}

.info h1 {
    padding-top: 1px;
}

.info {
    background-color: black;
    border-radius: 20px;
    display: flex;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.hehe {
    padding-top: 10px;
    text-align: center;
    color: black;
}
.hehe a {
    color: black;
    font-weight: bold;
    text-decoration: none;  
    letter-spacing: 2px; 
}

.hehe a:hover {
    text-decoration: none; 
}
.hehe span:hover {
    background-color: rgb(9, 255, 0);
}

.hehe span {
    border-radius: 8px;
    padding: 8px;
}

.foto1 {
    width: 345px;
    height: 400px;
}

.foto2 {
    width: 345px;
    height: 400px;
}

h2{
    color:#222;
    font-weight:500;
    font-size:6em;
    letter-spacing:5px;
    cursor:pointer ;
    text-transform:uppercase ;
    transition:0.5s;
}

h2:hover{
    color:#fff;
    text-shadow:
    0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
